<!DOCTYPE html>
<html>

<head>
    <title>Rhyme Finder</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@itsuki_jpnlonvn">
    <meta name="twitter:title" content="Rhyme Finder">
    <meta name="twitter:description" content="韻を踏むやつです！">

</head>

<body>
    <div class="text-center align-items-center">
        <h1>Rhyme Finder</h1>
        <form action="/result">
            <input type="text" name="text">
            <button type="submit" formmethod="GET" class="btn btn-primary">search</button>
        </form>
        {% block body %}{% endblock %}
    </div>
</body>

</html>